[Unit]
Description=Custom Cockpit Service
After=network.target

[Service]
ExecStart=/usr/libexec/cockpit-ws
Restart=always

[Install]
WantedBy=multi-user.target
