[Unit]
Description=Stage & load Broadcom wl early (immutable)
DefaultDependencies=no
After=local-fs.target sysinit.target
Before=network-pre.target NetworkManager.service systemd-networkd.service display-manager.service flatpak-system-setup.service
Wants=network-pre.target

[Service]
Type=oneshot
ExecCondition=/usr/local/sbin/needs-wl.sh
ExecStart=/usr/local/sbin/wl-akmods-build.sh
RemainAfterExit=yes
Environment="PATH=/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=multi-user.target