[Unit]
Description=Build & load NVIDIA (akmods) once per new kernel (ostree-safe)
After=local-fs.target systemd-modules-load.service
ConditionPathExists=/run/ostree-booted

[Service]
Type=oneshot
ExecCondition=/usr/local/sbin/needs-nvidia.sh
ExecStart=/usr/local/sbin/nvidia-akmods-build.sh
RemainAfterExit=yes
Environment="PATH=/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=multi-user.target
