[Unit]
Description=Ubuntu Toolbox for your distrobox fun

[Container]
Image=docker.io/louislam/dockge:1
Annotation=run.oci.keep_original_groups=1
ContainerName=dockge
Environment=DOCKGE_STACKS_DIR=/opt/stacks
Volume=/var/run/docker.sock:/var/run/docker.sock
Volume=./data:/app/data

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
