[Desktop Entry]
Type=Application
Name=Current Flatpak Session Environment
Exec=/usr/libexec/current-flatpak-session-env
OnlyShowIn=GNOME;COSMIC;
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Initialization
