[Desktop Entry]
Type=Application
Name=myOS Flatpak Session Environment
Exec=/usr/libexec/myos-flatpak-session-env
OnlyShowIn=GNOME;COSMIC;
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Initialization
