[Unit]
Description=Register NVIDIA PCP PMDA
Documentation=man:pmdanvidia(1)
After=pmcd.service
Before=pmlogger.service

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/current/current-pcp-nvidia-pmda-apply

[Install]
WantedBy=multi-user.target
